extends layout
block content
  h1= title
  form(action="/login/log" method="POST"    )
      input(type="text" name="username" placeholder="username")
      input(type="text" name="password" placeholder="parol")

      button.btn-danger kirish